.full-screen {
  background-color: hsl(233, 47%, 7%);
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.stats-card {
  order: 1;
  background-color: hsl(244, 38%, 16%);
  width: 1080px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 7px;
}

.image-header {
  order: 2;
  width: 100%;
  filter: sepia(0.45) saturate(12) brightness(0.6) hue-rotate(230deg)
    contrast(75%);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.text-white {
  color: white;
}

.text-white-75 {
  color: hsla(0, 0%, 100%, 0.75);
}

.text-white-60 {
  color: hsla(0, 0%, 100%, 0.6);
}

.text-purple {
  color: hsl(277, 64%, 61%);
}

.text-title {
  padding-right: 5rem;
  font-family: 'Inter', Roboto;
  font-weight: 700;
  font-size: 37px;
  line-height: 1.3;
}

.text-description {
  padding-right: 5rem;
  font-family: 'Inter', Roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.75;
}

.text-amount {
  font-family: 'Inter', Roboto;
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 0.75rem;
}

.text-label {
  font-family: 'Lexa Deca', Roboto;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0;
}

.stat {
  display: inline-block;
  margin-right: 3.75rem;
}

.padding {
  overflow: hidden;
  padding-top: 3rem;
  padding-left: 5rem;
}

.stats {
  margin-top: 2rem;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  font-weight: 400, 700;
}

@font-face {
  font-family: 'Lexa Deca';
  src: url(../fonts/LexendDeca-Regular.ttf) format('truetype');
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .full-screen {
    height: 100%;
  }

  .stats-card {
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 85%;
    display: block;
    border-radius: 7px;
  }

  .image-header {
    order: 2;
    width: 100%;
    filter: sepia(0.45) saturate(12) brightness(0.6) hue-rotate(230deg)
      contrast(75%);
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 0px;
  }

  .text-title {
    padding-right: 0;
    font-size: 28px;
    text-align: center;
  }

  .text-description {
    margin-top: 2rem;
    padding-right: 0;
    font-size: 15px;
    line-height: 1.75;
    text-align: center;
  }

  .text-amount {
    text-align: center;
  }

  .text-label {
    text-align: center;
  }

  .stat {
    margin-right: 0;
    display: block;
    text-align: center;
  }

  .padding {
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
